<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，用于隔离sql，还有一个很重要的作用，后面会讲 -->
<mapper namespace="com.springboot.Dao.PersonDao">

    <select id="findPersonById" parameterType="Integer" resultType="com.springboot.Entity.Person">
            select * from springboot where id=#{id};
    </select>

    <select id="findAll" resultType="com.springboot.Entity.Person">
            select * from springboot
    </select>
    <update id="updatePersonList" >
        update springboot
        <foreach collection="list" item="updateItem" separator =",">
               set name=#{updateItem.name},salary=#{updateItem.salary}
               where age=#{updateItem.age}
        </foreach>

    </update>

    <insert id="insertPersonList" >
        insert into springboot(name,age,salary)
        values
        <foreach collection="list" item="item" separator =",">
            (#{item.name},#{item.age},#{item.salary})
        </foreach>
    </insert>

</mapper>